.catalog-main {}

.catalog-main__heading {
  background-color: #f1f1f1;
}

.catalog-main__heading-title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 75px;
  padding-bottom: 75px;

  color: @txt-color;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
}
