.contacts {
  width: 320px;
  .container();
  margin: 0 auto;
}

.contacts__title {
  padding: 0;
  color: @txt-color;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}




.contacts__email-table,
.contacts__adress-table {
  display: flex;
}

.contacts__email,
.contacts__adress {
  margin-right: 32px;
  color: @txt-small;
  text-align: left;
  font-size: 15px;
  line-height: 30px;

}

.contacts__email-item {
  margin: 0;
  padding: 0;

  text-align: left;
  font-size: 15px;
  line-height: 30px;

    a {
      color: @txt-small;
      text-decoration: none;

    }
}



.contacts__adress-item {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
}

.contacts__adress-item-text{
      max-width: 145px;
      margin: 0;
    }
