.page-footer {
  background-color: @footer-bg-color;
}

.page-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__list-item {}

.page-footer__copyright {}

.page-footer__copyright-link {
  color: @txt-color;
  text-align: left;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
}
