.production {
  .container();
  margin: 0 auto;
  margin-bottom: 58px;

}

.production__item {
  width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
}

.production__title {
  max-width: 126px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;

  color: @txt-color;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.production__image{
}

.production__paragraph {
  max-width: 183px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

  color: #444444;
  text-align: left;
  font-size: 13px;
  line-height: 24px;
}
