.reviews {
  width: 320px;
  .container();
  margin: 0 auto;
}

.reviews__title {
  color: @txt-color;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__text {
  max-width: 260px;
  color: #444444;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  display: block;
  color: @txt-color;
  text-align: left;
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}

.reviews__author-link {
  color: #444444;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  line-height: 30px;
}
